:root{
  --main-text: #EEFFFF;
  --main-bg: #0F111A;
  --index-text: #DCDCCC;
  --color2-text: #C3E88D;
  --command-text: #84FFFF;
  --command-shadow: #89DDFF; 
  --link-text: #82AAFF;
  --link-hover-bg: #717CB480;
  --link-hover-text: #FFFFFF;
}

.App {
  display: flex;
  align-items: center;
  text-align: left;
  text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 0;
  /* padding: 15px 20px; */
  color: var(--main-text);
  background: var(--main-bg); 
  font-family: cursor, monospace;
}

  ::-webkit-scrollbar {
    width: 0px;
  }

p {
  line-height: 1.3em;
  margin: 0;
  text-wrap: wrap !important;
  white-space: nowrap;
  letter-spacing: 0.05em;
} 

.index {
  color: var(--index-text);
}
.color2 {
  color: var(--color2-text);
}
.command {
  color: var(--command-text);
  text-shadow: 0 0 5px var(--command-shadow); 
}

.inherit,
a {
  color: var(--link-text);
}
a {
  text-decoration: inherit;
  display: inline-block;
  width: min-content;
  white-space: nowrap;
}
a:hover {
  background: var(--link-hover-bg);
  color: var(--link-hover-text);
}
a:focus {
  outline: 0;
} 
