.App {
  display: flex;
  align-items: center;
  text-align: left;
  text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 0;
  /* padding: 15px 20px; */
  color: #eeffff;
  background: #0F111A; 
  font-family: cursor, monospace;
}

 /* ===== Custom Scroll Bar ===== */
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222222;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c3e88d;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e2f0cd;
  }
p {
  line-height: 1.3em;
  margin: 0;
  text-wrap: wrap !important;
  white-space: nowrap;
  letter-spacing: 0.05em;
} 

.index {
  color: #DCDCCC;
}
.color2 {
  color: #c3e88d;
}
.command {
  color: #84ffff;
  text-shadow: 0 0 5px #89ddff; 
}
/* .error {
  color: #B89076;
} */
.white {
  color: #fff;
}
.inherit,
a {
  color: #82aaff;
}
a {
  text-decoration: inherit;
  display: inline-block;
  width: min-content;
  white-space: nowrap;
}
a:hover {
  background: #717CB480;
  color: #FFFFFF;
}
a:focus {
  outline: 0;
} 
